body {
  margin: 0;
  font-family: Arial;
  background: #0a1622;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #071019;
}

.logo {
  font-weight: bold;
  letter-spacing: 2px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  padding: 80px;
  text-align: center;
  background: linear-gradient(#0d2538, #0a1622);
}

.btn {
  background: #00b4d8;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
  border-radius: 6px;
}

.grid {
  display: flex;
  gap: 20px;
  padding: 40px;
  justify-content: center;
}

.card {
  background: #112436;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

.form {
  padding: 50px;
  text-align: center;
}

input, textarea {
  display: block;
  width: 300px;
  margin: 10px auto;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background: #00b4d8;
  border: none;
  color: white;
}
